<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Products</h2>

    <svg class="icon icon--white collapsible__chevron">
      <use href="images/icons-sprite.svg#star"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod praesentium
    voluptates illum maxime tempore neque impedit quidem at, inventore nisi.
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Tarifs</h2>

    <svg class="icon icon--white collapsible__chevron">
      <use href="images/icons-sprite.svg#star"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod praesentium
    voluptates illum maxime tempore neque impedit quidem at, inventore nisi.
  </div>
</div>
