<section class="block">
  <header class="block__header">
    <h2>What our Customer are Saying</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam
      iusto maxime ducimus? Totam fugiat impedit odit laboriosam commodi quos,
      quas sit perspiciatis molestias obcaecati doloremque tempora aliquid
      deleniti inventore?
    </p>
  </header>
  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img src="images/testimonial.jpg" alt="testimonial" />
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white icon--small">
              <use href="images/icons-sprite.svg#star"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary quote__line">
                  <use xlink:href="images/calendar.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">jhon smith</h3>
                <p class="quote__organization">abc company</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
